0.0.0.0:80

gzip
cors

log stdout
errors stdout

expires {
    match .* 240h # 10 days
}

cache {
    match_path /
    default_max_age 240h # 10 days
}

proxy / localhost:8888

supervisor {
    command imaginary
    args -enable-url-source
    env PORT=8888
    restart_policy always
    redirect_stdout stdout
    redirect_stderr stderr
}
