0.0.0.0:80

cors

log stdout
errors stdout

cache {
    match_path /
    match_header Content-Type image/jpeg image/webp

    default_max_age 240h # 10 days
}

proxy / localhost:8888

supervisor {
    command imaginary
    args -enable-url-source
    env PORT=8888
    restart_policy always
    redirect_stdout stdout
    redirect_stderr stderr
}
